# Package Files
*.jar
*.war
*.ear

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea

# Eclipse project files
.classpath
.project
.settings

# Build outputs
*.class
target
dependency-reduced-pom.xml
node_modules
coverage
build

# OS files
.DS_Store

# Other
*.swp
.aws
.config
.exec
npm-debug.log
package-lock.json
yarn.lock
